# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Test Executables
all_tests
arraylist_tests
boundedqueue_tests
boundedstack_tests
circularlist_tests
deque_tests
hashmap_tests
hashset_tests
heap_tests
iterator_tests
linkedlist_tests
queue_tests
stack_tests
treemap_tests
treeset_tests

# SWP Files
.*.swp
